/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
}
.grid {
  padding-left: 1rem;
  padding-right: 1rem;  
}
.columns {
  display: inline-block;
  vertical-align: top;
}

.small-col-3-3 {
  width: 100%;
}
.small-col-1-2 {
  width: 50%;
}
.small-col-2-2 {
  width: 100%;
}

@media screen and (min-width: 51.4375rem){
  .large-col-1-3 {
    width: 33%;
    padding-top: 3.5rem;
  } .large-col-2-3 {
    width: 66%;
  }
  .large-col-2-2 {
    width: 100%;
  }

}
/*
  ========================================
  Typography
  ========================================
*/

body {
	font-family: 'Open Sans', sans-serif;
  background-image: url(../images/pw_maze_black.png);
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #610000;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-bottom: .2rem;
}
h2 {
  font-family: 'Roboto Slab', serif;
  font-size: .9rem;
  font-weight: 600;
  color: #610000;
  letter-spacing: .05rem; 
}
h3 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
h2, h3, h4, h5, p {
  margin-bottom: 1rem;
}

/*
  ========================================
  Buttons
  ========================================
*/
/*.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}
.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
}
*/
a {
  text-decoration: none;
}

/* * * *  Shared, Game Ready & Complete  * * * */

.play {
  padding-top: 4rem;
  font-size: 0rem;
  margin-bottom: -3rem;
}

.play span{
  font-size: 10rem;
}

/*.play,
.replay,
.color,
.shape*/
button {
  background-color: Transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  opacity: .5;
  -webkit-transition: opacity 0.5s 0.1s;
  -moz-transition: opacity 0.5s 0.1s;
  transition: opacity 0.5s 0.1s;
}

/*.play:hover,
.replay:hover,
.play:active,
.replay:active,*/
button:hover,
button:active {
  opacity: 1;
}

button[disabled]:hover {
  opacity: .5;
  cursor: initial;
}

.play-button-label {
  top: -4.4rem;
  left: -1rem;
  color: black;
}

.play-button-label,
.replay-button-label,
.result span,
.color, 
.shape {
  position: relative;
  font-size: 1.25rem;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1rem;
  font-weight: 600;
  letter-spacing: .07rem;
  text-transform: uppercase;
}

/* * * *  Game Active * * * */

.controls {
  float: left;
  text-align: center;
}

.color,
.shape {
  height: 6rem;
  border: .2rem #a2a2a2 solid;
  border-radius: .5rem;
  width: 90%;
  line-height: 2rem;
  margin-bottom: 1rem;
  background-color: Transparent;
  color: #a2a2a2;
  opacity: 1;
}

.color:hover,
.shape:hover,
.color:active,
.shape:active {
/*  background-color: Transparent;
  color: white;
*/  opacity: 1;
}

.color:disabled,
.shape:disabled,
.color[disabled]:hover,
.shape[disabled]:hover,
.color[disabled]:active,
.shape[disabled]:active {
  color: black;
  background-color: #a2a2a2;
  opacity: 1;
}

/*.color.not-ready:disabled,
.color.not-ready[disabled]:hover,
.color.not-ready[disabled]:active,*/
.not-ready:disabled,
.not-ready[disabled]:hover,
.not-ready[disabled]:active {

  background-color: Transparent;
  color: #a2a2a2;
  opacity: .2;

}

.color span {
  display: none;
  color: yellow;
}

.shape span {
  display: none;
  color: yellow;
}


/* * * *  Game Complete  * * * */

.replay {
  line-height: 16.5rem;
  font-size: 0rem;
  margin-bottom: -8rem;
}
.replay span {
  font-size: 9rem;
  margin-top: 4rem;
}

.replay-button-label {
  top: -3.6rem;
}
.result {
  line-height: 7.5rem;
  display: inline-block;
  /* border: orange 3px solid; */
  width: 48%;
  margin-bottom: 1rem;

}
.result h3 {
  font-size: 5rem;
  font-weight: 100;
  text-align: center;
  letter-spacing: -.2rem;
}
.result h3 span {
  font-size: 1.5rem;
  font-weight: 100;
  display: inline;
  position: initial;
  padding-left: .1rem;
}

.result span {
display: block;
top: -1rem;
color: #fff;
opacity: .85;
}

/*
  ========================================
  Home
  ========================================
*/
/*.hero {
  padding: 22px 80px 66px 80px;
}*/
/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/*
  ========================================
  Primary header
  ========================================
*/

header {
  background-color: #e74538;
}
.logo {
  font-family: 'Roboto Slab', serif;
  font-size: 5rem;
  font-weight: 100;
  color: #fff;
  letter-spacing: .3rem;
  padding: 3rem 0 0.5rem 0;
  text-align: center;
  -webkit-transition: padding 0.5s 0.1s;
  -moz-transition: padding 0.5s 0.1s;
  transition: padding 0.5s 0.1s;
  -webkit-transition: margin 0.5s 0.1s;
  -moz-transition: margin 0.5s 0.1s;
  transition: margin 0.5s 0.1s;
}
.logo.collapsed {
  padding-top: .5rem;
  margin-bottom: -.75rem;
}

/*.collapsed {

  -webkit-transition: display 0.5s 0.1s;
  -moz-transition: display 0.5s 0.1s;
  transition: display 0.5s 0.1s;

}

@media screen and (max-width: 51.4375rem) {
  .logo.collapsed {
    padding-top: 1rem;
  }
  .slogan.collapsed {
    display: none;
  }
}*/
.slogan {
  text-align: center;
}
/*
  ========================================
  Gameboard
  ========================================
*/

.gameboard {
  width: 90%;
  margin: 0 auto;
}

.game-ready,
.game-start,
.game-active,
.game-complete {
  text-align: center;
  -webkit-transition: opacity 0.5s 0.1s;
  -moz-transition: opacity 0.5s 0.1s;
  transition: opacity 0.5s 0.1s;
}

.play,
.counter,
.souvenir {
  line-height: 19rem;
}

/* * * *  Game Ready  * * * */

.tutorial p {
  margin-top: -.5rem;
  padding-bottom: .5rem;
  letter-spacing: .1rem;
}

/* * * *  Game Start  * * * */

.counter {
  font-size: 10rem;
  font-weight: 100;
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.1s;
  -moz-transition: opacity 0.5s 0.1s;
  transition: opacity 0.5s 0.1s;
}

.counter p {
  color: #fff;
  letter-spacing: .1rem;
  height: 13rem;
  font-size: 1.2rem;
  opacity: 1;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 8rem;
  padding: 0 1rem;
}

/* * * *  Game Active * * * */

.souvenir {
  font-size: 12rem;
  padding-bottom: 1rem;
}

/*
  ========================================
  Primary footer
  ========================================
*/
.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}

.primary-footer small {
  float: left;
}

body {
	background-color: black;
	color: white;
}