/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
}
.grid,
.columns {
  padding-left: 15px;
  padding-right: 15px;  
}
.columns {
  display: inline-block;
  vertical-align: top;
}

.small-col-3-3 {
  width: 100%;
}

@media screen and (min-width: 51.4375em){
  .large-col-1-3 {
    width: 33.33%;
  } .large-col-2-3 {
    width: 66.66%;
  }
  .large-col-2-2 {
    width: 50%;
  }
}
/*
  ========================================
  Typography
  ========================================
*/

body {
	font-family: 'Open Sans', sans-serif;
  background-image: url(../images/pw_maze_black.png);
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #610000;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-bottom: .2rem;
}
h2 {
  font-family: 'Roboto Slab', serif;
  font-size: .9rem;
  font-weight: 600;
  color: #610000;
  letter-spacing: .05rem; 
}
h3 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
h2, h3, h4, h5, p {
  margin-bottom: 1rem;
}

/*
  ========================================
  Buttons
  ========================================
*/
.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}
.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
}

a {
  text-decoration: none;
}

/*
  ========================================
  Home
  ========================================
*/
.hero {
  padding: 22px 80px 66px 80px;
}
/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/*
  ========================================
  Primary header
  ========================================
*/

header {
  background-color: #e74538;
}
.title {

}
.logo {
  font-family: 'Roboto Slab', serif;
  font-size: 5rem;
  font-weight: 100;
  color: ;
  letter-spacing: .3rem;
  padding: 3rem 0 0.5rem 0;
}
.slogan {

}
/*
  ========================================
  Gameboard
  ========================================
*/

.gameboard{
  width: 90%;
  margin: 0 auto;
  border: yellow solid 3px;
}

.stage,
.play,
.scoreboard {
}

.play-icon {
  font-size: 10rem;
  line-height: 21rem;
  border: green solid 3px;
  text-align: center;
}

.play-icon a {
  text-decoration: none;
  color: #fff;
  opacity: .5;
  -webkit-transition: opacity 0.5s 0.1s;
  -moz-transition: opacity 0.5s 0.1s;
  transition: opacity 0.5s 0.1s;
}

.play-icon a:hover {
  opacity: 1;
}

.play-button-label {
position: relative;
top: -5.6rem;
left: -1.4rem;
font-size: 1.25rem;
font-family: 'Open Sans Condensed', sans-serif;
line-height: 1rem;
color: black;
font-weight: 600;
letter-spacing: .07rem;
text-transform: uppercase;
}

/*p.button-name {
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  margin: 0 auto;
  height: 2rem;
}
*/
.souvenir {
  font-size: 15rem;
  line-height: 21rem;
  border: yellow solid 3px;
  padding-bottom: 2rem;
}

/*.souvenir,
.play {
  width: 90%;
  margin: 0 auto;
  font-size: 15rem;
  text-align: center;
  line-height: 21rem;
  padding-bottom: 2rem;
}
*/

/*
  ========================================
  Primary footer
  ========================================
*/
.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}

.primary-footer small {
  float: left;
}

body {
	background-color: black;
	color: white;
}

@media screen and (min-width: 25em){

  

}
